page-ver-formulario {
    p.formulario-descripcion{
        font-size: 15px;
    }

    p.campo-cabecera{
        font-weight: bold;
    }

    p.campo-descripcion{
        font-size: 14px;
    }
    button.botonEnviar{
        width: 100%;
    }
    button.botonBorrar{
        float: right;
    }
}
