page-ver-formulario {
    p.formulario-descripcion{
        font-size: 15px;
    }

    p.campo-cabecera{
        font-weight: bold;
    }
    p.campo-descripcion{
        font-size: 14px;
    }
    button.botonEnviar{
        width: 100%;
    }
    button.botonBorrar{
        float: right;
    }
<<<<<<< HEAD

    .mensajeError{
        color: #dc3545;
        float: right;
        display: block;
    }
=======
>>>>>>> 40c9ec7583b58bb0e047adb89de4c03d9f3b6127
}
