page-ver-formulario {
    p.formulario-descripcion{
        font-size: 15px;
    }

    p.campo-cabecera{
        font-weight: bold;
    }
    p.campo-descripcion{
        font-size: 14px;
    }
    button.botonEnviar{
        width: 100%;
    }
    button.botonBorrar{
        width: 100%;
    }

    .mensajeError{
        color: #dc3545;
        width: auto;
        text-align: right;
     //   display: inline-block;
       // text-align: right;
       //float:right; 
    }
}
