
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Viendo formulario</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4>{{ titulo }}</h4>
  <p *ngIf="descripcion != ''" class="formulario-descripcion">{{ descripcion }}</p>
  <hr/>
  <form [formGroup]="formulario" (ngSubmit) = "logForm()">   
    <ng-container *ngFor ="let campo of camposFormulario">
      <p class="campo-cabecera" *ngIf="campo.esObligatorio == 'true'">{{ campo.titulo }}
          <span style="color: red; font-weight: bold;">*</span>
      </p>
      <p class="campo-cabecera" *ngIf="campo.esObligatorio == 'false'">{{ campo.titulo }}</p>
      <p class="campo-descripcion">{{ campo.descripcion }}</p>

      <ng-container [ngSwitch]="campo.tipo">
      
        <!-- Campo de texto (texto, numerico, email)--> 
        <ng-container *ngSwitchCase="'campo_texto'">
          <ion-item>
            <ion-input formControlName="{{campo.titulo.split(' ').join('_')}}" placeholder="{{campo.pista}}" type="{{campo.subtipo}}"></ion-input>
          </ion-item>
          <ng-container *ngFor="let error of mensajesdeError[campo.titulo.split(' ').join('_')]">
            <ion-item *ngIf="formulario.get(campo.titulo.split(' ').join('_')).hasError(error.tipo) && formulario.get(campo.titulo.split(' ').join('_')).touched">
              <p item-content> {{error.mensaje}} </p>
            </ion-item>
          </ng-container>
        </ng-container>
   
        <!-- Area de texto -->
        <ng-container *ngSwitchCase= "'area_texto'">
          <ion-item>
            <ion-textarea formControlName="{{campo.titulo.split(' ').join('_')}}" rows="3" maxlength="{{campo.limiteCaracteres}}"></ion-textarea>
          </ion-item>       
          <ng-container *ngFor="let error of mensajesdeError[campo.titulo.split(' ').join('_')]">
            <ion-item *ngIf="formulario.get(campo.titulo.split(' ').join('_')).hasError(error.tipo) && formulario.get(campo.titulo.split(' ').join('_')).touched">
              <p item-content> {{ error.mensaje }} </p>
            </ion-item>
          </ng-container>
        </ng-container>
   
        <!-- Lista desplegable -->
        <ng-container *ngSwitchCase="'lista_desplegable'">
          <ion-item>
            <ion-label>Elija una opción</ion-label>
              <ion-select formControlName="{{campo.titulo.split(' ').join('_')}}" okText="Aceptar" cancelText="Cancelar">
                <ion-option value="ninguna">Ninguna</ion-option>
                <ion-option *ngFor="let opcion of campo.opciones" value="{{opcion}}"> {{ opcion }} </ion-option>
              </ion-select>
          </ion-item>
          <ng-container *ngFor="let error of mensajesdeError[campo.titulo.split(' ').join('_')]">
            <ion-item *ngIf="formulario.get(campo.titulo.split(' ').join('_')).hasError(error.tipo) && formulario.get(campo.titulo.split(' ').join('_')).touched">
              <p item-content> {{ error.mensaje }} </p>
            </ion-item>
          </ng-container>
        </ng-container>
        
        <!-- Lista radio-button -->
        <ng-container *ngSwitchCase="'lista_boton_radio'">
          <ion-list radio-group formControlName="{{campo.titulo.split(' ').join('_')}}">
            <ion-item *ngFor="let opcion of campo.opciones">
              <ion-label>{{ opcion }}</ion-label>
              <ion-radio value="{{opcion}}"></ion-radio>
            </ion-item>
          </ion-list>
          <ng-container *ngFor="let error of mensajesdeError[campo.titulo.split(' ').join('_')]">
            <ion-item *ngIf="formulario.get(campo.titulo.split(' ').join('_')).hasError(error.tipo)">
              <p item-content> {{ error.mensaje }} </p>
            </ion-item>
          </ng-container>
        </ng-container>
        
        <!-- Lista checkbox -->
        <ng-container *ngSwitchCase="'lista_checkbox'">
          <ion-list [formGroup]="opcionesCheck">
            <ion-item *ngFor="let opcion of campo.opciones" >
              <ion-label>{{ opcion }}</ion-label>
                <ion-checkbox formControlName="{{opcion}}" (ionChange)="opcionSeleccionada(campo, opcion, $event)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ng-container>
        
        <!-- Fecha -->
        <ng-container *ngSwitchCase="'fecha'">
          <ion-item>
            <ion-datetime formControlName="{{campo.titulo.split(' ').join('_')}}" cancelText="Cancelar" displayFormat="DD/MM/YYYY" doneText="Aceptar" placeholder="Toque aquí para elegir una fecha"></ion-datetime>
          </ion-item>
          <ng-container *ngFor="let error of mensajesdeError[campo.titulo.split(' ').join('_')]">
            <ion-item *ngIf="formulario.get(campo.titulo.split(' ').join('_')).hasError(error.tipo) && formulario.get(campo.titulo.split(' ').join('_')).touched">
              <p item-content> {{ error.mensaje }} </p>
            </ion-item>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
    <button disable="!formulario.valid" ion-button type="submit" click="enviarFormulario()">Enviar</button>
  </form>
</ion-content>