.centrado {
    margin: 3px auto;
    display: block;
}

div.banner > img {
    margin-left: 10px;
    margin-right: 5px;
    width: 20%;
}

div.banner {
    background-color: #2C3756;
}

div.banner > div {
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 3rem;
    padding: 0 12px;
}