<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet"> 

<ion-menu [content]="content">
  <ion-header>
    <div class="toolbar toolbar-md banner">
      <img alt="" src="assets/imgs/Colibri.svg" style="height: 60px; margin-bottom: 5px; margin-top: 5px; margin-right: -5px;"/>
      <div class="toolbar-title">Colibri</div>    
    </div>
  </ion-header>

  
  <ion-content padding>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div *ngIf="p.title == 'Formularios'; then iconoFormulario else iconoAcercaDe"></div>
        <ng-template #iconoFormulario><ion-icon name="copy" style="margin-right: 5px;"></ion-icon></ng-template>
        <ng-template #iconoAcercaDe><ion-icon name="contacts" style="margin-right: 5px;"></ion-icon></ng-template>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>