<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Formularios</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="nombreABuscar" [formControl]="controladorBusqueda" (ionInput)="realizarBusqueda()" [showCancelButton]="shouldShowCancel" placeholder="Filtrar por título"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="spinnerBuscar" *ngIf="buscandoResultados">
    <ion-spinner></ion-spinner><br><p class="buscando">Buscando...</p>
  </div>
    <ion-list>
      <ng-container *ngFor="let formulario of formularios">
        <ion-item>
        <h2 class="titulo" text-wrap>{{ formulario.titulo }}</h2>
        <ng-container *ngIf="formulario.descripcion.length > '130'; then descripcionPuntos else descripcion"></ng-container>
          <ng-template #descripcionPuntos>
            <p text-wrap class="descripcion">{{ formulario.descripcion }} . . . </p>
          </ng-template>
          <ng-template #descripcion>
            <p text-wrap class="descripcion">{{ formulario.descripcion }}</p>
          </ng-template>
          <button class="completar" type="button" ion-button round icon-end color="green-dark" (click)="verFormulario(formulario.idFormulario, formulario.titulo, formulario.descripcion)">Ver formulario
            <ion-icon name="arrow-dropright-circle"></ion-icon>
          </button>
        </ion-item>
 
      </ng-container>
      
    </ion-list>
</ion-content>