page-formularios {
    .navbar{
        color: "primary";
    }

    .descripcion{
        color: gray;
       /* line-height: 1.3em;
        max-height: 3.9em;
        overflow: hidden;
        position: relative;
        padding-right: 1em;
        text-align: justify;
        &:after {
          content:'...';
          position: absolute;
          bottom: 0;
          right: 0;
        }*/
    }
    .completar{
        width: 50%;
        float: right;
    }
}
